ruby:
  embed = local_assigns[:embed]
  width = local_assigns[:width] || 853
  height = local_assigns[:height] || 480

.embed-twitter
  blockquote.twitter-tweet
    | (ツイート埋め込み処理中)
    a href="#{embed.identifier}" Tweet

javascript:
  twttr.ready(function () {
    twttr.widgets.load();
  });